<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About 📊</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      Applied Mathematics student @ at ITAM working on my 
      thesis: <b>A Stochastic Model for NBA Substitutions </b>.

      <br>
      <br>

      -Born and raised in Mexico City.<br>
      -Interested in Data Visualization, Machine Learning and Statistics applied to Sports Analytics and Bioinformatics.<br>
      -Check out my contributions at <a href="https://9plus6.com/">9plus6</a>. Which are all dedicated to 
      data visualization and statistical analysis of the NBA, NFL and other major league sports.<br>
      
      
      <br>
      <br>

     
      <hr>
</p>

