<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About ☕</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
        Hello! My name is <b>Pablo López Landeros.</b>
        I am currently studying <b>Applied Mathematics with a minor in Computer Science</b> at <b>ITAM</b>.
        Born and raised in Mexico City. I am passionate about Data Visualization, Machine Learning and Statistics applied to sports analysis.
        This is reflected in my contributions at <a href="https://9plus6.com/">9plus6</a>. Which are all dedicated to data visualization and
        statistical analysis in the NBA, NFL and other major league sports.  


      <br>
      <br>
      <br> 
     
      <hr>
</p>