<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About 📊</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      Hello! My name is Pablo López Landeros. I am currently an undergrad Applied Mathematics student @ at ITAM working on my 
      thesis: Modelling Basketball Games as a Markov Process. Born and raised in Mexico City. I am intrested in Data Visualization,
      Machine Learning and Statistics applied to sports analysis. This is reflected in my contributions at 9plus6. Which are all dedicated
      to data visualization and statistical analysis in the NBA, NFL and other major league sports.
      
      <br>
      <br>

      In my free time, I attempt to do NBA and NFL Analytics :)

      <br>
      <br> 
     
      <hr>
</p>

